### **ğŸµ First Step (Spotify Dataset):** 

- ğŸ—ï¸ The schema for the spotify_staging table is created based on the spotify_dataset.csv file for uploading to PostgreSQL.
- ğŸŒ± A seed script is generated to insert data into the spotify_staging table using the dataset.
- ğŸ—‘ï¸ The existing spotify_staging table is dropped to avoid conflicts during re-creation.
- ğŸ› ï¸ The table is recreated in the Render PostgreSQL instance.
- ğŸ“¤ Data is inserted into the table on Render.
- âœ… Table creation and the successful insertion of data are confirmed by validating the number of records in the table.

In [1]:
#Import Libraries
import sys
import os
import pandas as pd

# Add the 'src' folder to sys.path
sys.path.append(os.path.abspath(os.path.join('..', 'src')))

#import previously created classes

from connections.db import PostgreSQLConnection
from utils.create_schema_seed import CreateSchemaSeed

db_service = PostgreSQLConnection()
schema_seed_service = CreateSchemaSeed()

In [2]:
# Create the schema and seed for the spotify_staging table
df_spotify_staging = pd.read_csv('../data/raw/spotify_dataset.csv')
print('Creating schema of spotify_staging')
print(schema_seed_service.infer_schema_postgres(df_spotify_staging, 'spotify_staging','../sql/schema_spotify_staging.sql'))
print('Creating seed of spotify_staging')
print(schema_seed_service.create_seed_postgres(df_spotify_staging, 'spotify_staging','../sql/seed_spotify_staging.sql'))

Creating schema of spotify_staging
âœ“ The SQL script has been successfully saved to ../sql/schema_spotify_staging.sql
Creating seed of spotify_staging
âœ“ The SQL script has been successfully saved to ../sql/seed_spotify_staging.sql

In [7]:
# We first delete the table if it exists to avoid errors.
print("Deleting spotify_staging table if it exists")
print(db_service.run_query(db_service.open_query('../sql/queries/drop_table.sql', 'spotify_staging')))

Deleting spotify_staging table if it exists
âœ“ Query executed successfully.

In [4]:
# Create the spotify_staging table
print("Creating table spotify_staging")
print(db_service.run_query(db_service.open_query('../sql/schema_spotify_staging.sql')))

Creating table spotify_staging
âœ“ Query executed successfully.

In [5]:
#Insert the data to the spotify_staging table using the seed
print("Inserting data into spotify_staging")
print(db_service.insert_data_from_sql('../sql/seed_spotify_staging.sql'))

Inserting data into spotify_staging
âœ“ Successfully inserted batch starting from query index 0.
âœ“ Successfully inserted batch starting from query index 3000.
âœ“ Successfully inserted batch starting from query index 6000.
âœ“ Successfully inserted batch starting from query index 9000.
âœ“ Successfully inserted batch starting from query index 12000.
âœ“ Successfully inserted batch starting from query index 15000.
âœ“ Successfully inserted batch starting from query index 18000.
âœ“ Successfully inserted batch starting from query index 21000.
âœ“ Successfully inserted batch starting from query index 24000.
âœ“ Successfully inserted batch starting from query index 27000.
âœ“ Successfully inserted batch starting from query index 30000.
âœ“ Successfully inserted batch starting from query index 33000.
âœ“ Successfully inserted batch starting from query index 36000.
âœ“ Successfully inserted batch starting from query index 39000.
âœ“ Successfully inserted batch starting from query index 42000.
âœ“ Successfully inserted batch starting from query index 45000.
âœ“ Successfully inserted batch starting from query index 48000.
âœ“ Successfully inserted batch starting from query index 51000.
âœ“ Successfully inserted batch starting from query index 54000.
âœ“ Successfully inserted batch starting from query index 57000.
âœ“ Successfully inserted batch starting from query index 60000.
âœ“ Successfully inserted batch starting from query index 63000.
âœ“ Successfully inserted batch starting from query index 66000.
âœ“ Successfully inserted batch starting from query index 69000.
âœ“ Successfully inserted batch starting from query index 72000.
âœ“ Successfully inserted batch starting from query index 75000.
âœ“ Successfully inserted batch starting from query index 78000.
âœ“ Successfully inserted batch starting from query index 81000.
âœ“ Successfully inserted batch starting from query index 84000.
âœ“ Successfully inserted batch starting from query index 87000.
âœ“ Successfully inserted batch starting from query index 90000.
âœ“ Successfully inserted batch starting from query index 93000.
âœ“ Successfully inserted batch starting from query index 96000.
âœ“ Successfully inserted batch starting from query index 99000.
âœ“ Successfully inserted batch starting from query index 102000.
âœ“ Successfully inserted batch starting from query index 105000.
âœ“ Successfully inserted batch starting from query index 108000.
âœ“ Successfully inserted batch starting from query index 111000.
âœ“ Data successfully inserted from SQL file.

In [8]:
# We verify that the table has been created.
print("Verifying that the table has been created")
print(db_service.run_select_query(db_service.open_query('../sql/queries/list_tables.sql')))

Verifying that the table has been created
[('public.spotify_staging', 114000)]

### **ğŸ† Second Step (Grammy Dataset):**

- ğŸ—ï¸ Similarly, the schema for the grammy_staging table is created using the spotify_dataset.csv.
- ğŸŒ± A seed script is generated to insert data into the grammy_staging table.
- ğŸ—‘ï¸ The existing grammy_staging table is dropped to prevent conflicts during re-creation.
- ğŸ› ï¸ The table is created in Render's PostgreSQL service.
- ğŸ“¤ Data is inserted into the table on Render.
- âœ… Table creation and data insertion are verified by checking the number of inserted records.

In [9]:
# Create the schema and seed for the grammy_staging table
df_spotify_staging = pd.read_csv('../data/raw/the_grammy_awards.csv')
print('Creating schema of grammy_staging')
print(schema_seed_service.infer_schema_postgres(df_spotify_staging, 'grammy_staging','../sql/schema_grammy_staging.sql'))
print('Creating seed of grammy_staging')
print(schema_seed_service.create_seed_postgres(df_spotify_staging, 'grammy_staging','../sql/seed_grammy_staging.sql'))

Creating schema of grammy_staging
âœ“ The SQL script has been successfully saved to ../sql/schema_grammy_staging.sql
Creating seed of grammy_staging
âœ“ The SQL script has been successfully saved to ../sql/seed_grammy_staging.sql

In [10]:
# We first delete the table if it exists to avoid errors.
print("Deleting grammy_staging table if it exists")
print(db_service.run_query(db_service.open_query('../sql/queries/drop_table.sql', 'grammy_staging')))

Deleting grammy_staging table if it exists
âœ“ Query executed successfully.

In [11]:
# We create the grammy_staging table
print("Creating table grammy_staging")
print(db_service.run_query(db_service.open_query('../sql/schema_grammy_staging.sql')))

Creating table grammy_staging
âœ“ Query executed successfully.

In [12]:
#Insert the data to the grammy_staging table using the seed
print("Inserting data into grammy_staging")
print(db_service.insert_data_from_sql('../sql/seed_grammy_staging.sql'))

Inserting data into grammy_staging
âœ“ Successfully inserted batch starting from query index 0.
âœ“ Successfully inserted batch starting from query index 3000.
âœ“ Data successfully inserted from SQL file.

In [13]:
# We verify that the table has been created.
print("Verifying that the tables has been created")
print(db_service.run_select_query(db_service.open_query('../sql/queries/list_tables.sql')))

Verifying that the table has been created
[('public.spotify_staging', 114000), ('public.grammy_staging', 4810)]

### **ğŸ” Conclusion:**

- ğŸ”§ Single and Double Quotes Removal: Single (' ') and double (" ") quotes were removed from string values in the dataset to avoid errors during data insertion.
- ğŸš« Semicolon Issue: Some strings contained semicolons (;), which broke the SQL queries, so they were removed to ensure smooth data uploads.
- ğŸ”„ NaN to NULL Conversion: Since PostgreSQL doesnâ€™t recognize NaN values, they were converted to NULL.
These steps were necessary to resolve the issues encountered during the data upload process.